/* Content Styling */
.content {
    height: 90%; /* Use height: 100% for flexibility */
    text-align: center;
    padding: 20px;
    transition: margin-left 0.3s ease;
    width: 100%;
    overflow-y: auto;
}
  
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
    font-weight: 900;
}
  