/* Wrapper to ensure the footer is always at the bottom */
.content-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px); /* Ensures full viewport height */
    padding: 40px 20% 40px 20%;
    overflow:auto;
    box-sizing: border-box;
}

/* Main content area - expands to fill available space */
.content {
    flex-grow: 1;
    text-align: left;
    transition: margin-left 0.3s ease;
    width: 100%;
}

/* Footer - stays at the bottom unless content overflows */
footer {
    height: 50px;
    text-align: center;
    background-color: green;
    border-top: 1px solid lightgray;
    width: 100%;
}


@media (max-width: 1028px) {
    .content-wrapper {
        padding: 40px 100px 40px 100px;
    }
}

@media (max-width: 767px) {
    .content-wrapper {
        padding: 20px 50px 20px 50px;
    }
}
