<div class="content-wrapper">
    <div class="content">
      <ng-content>
        <h1>Welcome to Chess Turtle</h1>
        <p>This site is currently under construction.</p>
        <p>Please come back soon!</p>
        <h1>Welcome to Chess Turtle</h1>
        <p>This site is currently under construction.</p>
        <p>Please come back soon!</p>
        <h1>Welcome to Chess Turtle</h1>
        <p>This site is currently under construction.</p>
        <p>Please come back soon!</p>
        <h1>Welcome to Chess Turtle</h1>
        <p>This site is currently under construction.</p>
        <p>Please come back soon!</p>
      </ng-content> <!-- Main content of the page -->
    </div>
    <app-footer></app-footer> <!-- Footer inside the content component -->
  </div>