/* Header Styles */
header {
  background-color: green;
  height: 75px; /* Header height */
  border-bottom: 1px solid black;
  text-align: left;
  align-content: center;
  position: sticky; /* Keeps header fixed at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures header stays above the content */
}
  
.title {
  display: inline;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  font-weight: 900;
  color: goldenrod;
  margin-left: 80px;
  white-space: nowrap; /* Prevent wrapping */
}
  
.sub-title {
  display: inline;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 900;
  color: gold;
  margin-left: 30px;
  white-space: nowrap; /* Prevent wrapping */
}

.hamburger {
  position: fixed;
  top: 10px;
  left: 15px;
  background: none;
  border: none;
  font-size: 36px;
  color: gold;
  cursor: pointer;
  z-index: 1000;  /* Keep hamburger on top of sidebar */
}

@media (max-width: 767px) {
  .sub-title {
    display: none; /* Hide sub-title when the screen width is 767px or less */
  }
  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
}