<h1>Chess Tactics</h1>

<h2>What Are Chess Tactics?</h2>

<p>Chess tactics are a move or a series of moves that give a player an advantage in the game.
    A tactic might limit the way a player's pieces can move, or lead to the capture of a piece.
    Tatics are typically short-term plans, as opposed to strategy, which is typically a larger ideas.
    But, just because tactics are short-term plans, does mean they are important. In fact,
    tactics are how most games are won or lost, especially in the beginner and intermediate
    levels of chess. As a beginning player, the one thing that will give you the biggest edge
    over your opponents is learning about tactics and how to spot them.</p>

<h2>Types of Tactics</h2>

<p>There are several different kinds of tactics that are used in chess. Here are a list of some of
    the most important ones to learn when you are first starting out. Click on any of the following tactics
    to learn even more about that tactic and practice using it:
</p>

<app-card>
    <a link routerLink="/tactics/forks"> </a>
    <div card-title>
        Forks
    </div>
    <img card-image alt="fork-image"/>
    <div card-content>
        A piece attacks two or more pieces at the same time.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/skewers"> </a>
    <div card-title>
        Skewers
    </div>
    <img card-image alt="skewers-image"/>
    <div card-content>
        A threatened piece must step out of the way, allowing the piece behind it to be captured.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/pins"> </a>
    <div card-title>
        Pins
    </div>
    <img card-image alt="pins-image"/>
    <div card-content>
        A piece prevents another piece from moving.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/revealed-attacks"> </a>
    <div card-title>
        Revealed Attacks
    </div>
    <img card-image alt="revealed-attacks"/>
    <div card-content>
        A piece moves and reveals a surprise attack by another piece.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/sacrifices"> </a>
    <div card-title>
        Sacrifices
    </div>
    <img card-image alt="sacrifices-image"/>
    <div card-content>
        Intentionally losing a piece to gain a large advantage or force a checkmate.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/desperados"> </a>
    <div card-title>
        Desperados
    </div>
    <img card-image alt="desperados-image"/>
    <div card-content>
        A piece that is about to get captured goes down fighting.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/x-ray-attacks"> </a>
    <div card-title>
        X-Ray Attacks
    </div>
    <img card-image alt="x-ray-attacks-image"/>
    <div card-content>
        A piece threatens the piece behind the piece that they are about to capture.
    </div>
</app-card>  
    
<app-card>
    <a link routerLink="/tactics/interference"> </a>
    <div card-title>
        Interference
    </div>
    <img card-image alt="interference-image"/>
    <div card-content>
        A piece step in front of a more important piece to block an attack.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/attraction"> </a>
    <div card-title>
        Attraction
    </div>
    <img card-image alt="attraction-image"/>
    <div card-content>
        A piece forces another pices to come to a specific square, usually as part of a sacrifice.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/removing-a-defender"> </a>
    <div card-title>
        Removing A Defender
    </div>
    <img card-image alt="removing-a-defender-image"/>
    <div card-content>
        Capturing a piece that is defending another piece.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/forcing-a-stalemate"> </a>
    <div card-title>
        Forcing A Stalemate
    </div>
    <img card-image alt="forcing-a-stalemate-image"/>
    <div card-content>
        In a situation where you are probably going to lose, you can force the game to end in a draw instead.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/zwischenzug"> </a>
    <div card-title>
        Zwischenzug (In-Between Move)
    </div>
    <img card-image alt="zwischenzug-image"/>
    <div card-content>
        Making a move before making a capture, retreating, or defending.
    </div>
</app-card>

<app-card>
    <a link routerLink="/tactics/zwischenzug"> </a>
    <div card-title>
        Zugswang (Forced Move)
    </div>
    <img card-image alt="zwischenzug-image"/>
    <div card-content>
        A forced bad move because there are no other legal moves.
    </div>
</app-card>